

/**
 * 1.0 - General Elements
 */

::-moz-selection{background:#C9F0DD;} 
::selection {background:#C9F0DD;} 


* {
    outline: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
}

b {
    font-weight: 400;
}

a {
    color: #333;
}

a:hover, a:focus {
    text-decoration: none;
}

body {
    color: #444;
    font-family: Helvetica,sans-serif;
}

p {
    text-indent:50px;
    font-family: Helvetica,sans-serif;
    font-weight: 400;
    word-spacing: 1px;
    letter-spacing: 0.01em;
}




/**
 * 2.0 - Site Header
 */

@media screen and (min-width: 768px) {
    #site-header {
        padding: 20px 0px;
        min-height: 60px;
        width: 700px;
        margin: auto;
    }
}

.logo-link img {
    height: 60px;
    float: right;
    border-radius: 100%;
}

@media screen and (max-width: 768px) {
    #site-header {
        width: 100%;
    }

    .col-xs-12 {
        text-align: center;
    }
    .logo-link img {
        height: 60px;
        float: none;
        text-align: center;
        border-radius: 100%;
    }
}

/* Main Nav */
.main-nav {
    list-style-type: none;
    margin-top: 17px;
    padding: 0;
    text-align: center;
}

.nav-link {
    display: inline;
    font-size: 18px;
    padding: 0 10px;
}

.nav-link  a:active,
.nav-link  a:focus,
.nav-link  a:hover {
    background-color: transparent !important;
    border-bottom: 0;
    color: #42b983;
}

.active a, .nav-link:hover {
    color: #42b983;
}


 /* search-form */
.searchform {
    position: relative;
    padding-top: 10px;
}

@media (min-width:768px) {
    .searchform {
        position: relative;
        float: left;
    }
}    

@media (max-width:767px) {
    .searchform {
        position: relative;
        float: none;
        text-align: center;
        display: none;
    }
}  

.searchform input, button {
    border: none;
    outline: none;
}

.searchform input {
    padding-left: 13px;
    height:42px;
    width: 150px;
    border-radius: 42px;
    border: 2px solid #324B4E;
    background: #eee;
    transition: .3s linear;
    float: right;
}

.searchform input:focus {
    /* width: 300px; */
    background: #bff1c7;
    
}

.searchform button {
    background: none;
    right: 0;
    height: 42px;
    width: 42px;
    cursor: pointer;
    position: absolute;
}

.searchform button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}




/**
  * 3.0 - Content-Body
**/



@media screen and (min-width: 768px) {
    .content-body {
        padding: 2em;
        margin: auto;
        margin-left:15%;
        margin-right:15%;
    }
}

@media screen and (max-width: 767px) {
    .content-body {
        padding: 0;
        margin: auto;
        margin-left:5%;
        margin-right:5%;
        margin-top: 5%;
    }
}

.article {
    background: #fff;
}

.article-title {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0px;
    line-height: 1.6;
    padding: 10px 20px 0;
}

.article-title a:hover{
    color: #42b983;
}


.article-meta {
    text-align: center;
    margin-bottom: 30px;
}

.article-date {
    color: #7f8c8d;
    margin: 1.2em 0;
}

.article-content {
    font-size: 18px;
    line-height: 1.9;
    font-weight: 300;
    color: #000;
}




/**
 * 4.0 - Widget
 */

/* back to top*/
#back-to-top{ 
    display:block;  
    width:60px; 
    height:60px;
    position:fixed;  
    bottom:60px;  
    right:40px; 
    border-radius:10px 10px 10px 10px;   
    text-decoration:none;  
    display:none;  
    background-color:#999999; 
}

#back-to-top span{ 
    display:block; 
    width:60px; 
    color:#ffffff; 
} 
#back-to-top span:hover{ 
    color:#1098EB; 
} 
#back-to-top span{ 
    font-size:40px; 
    text-align:center; 
    margin-top:4px; 
}

/* pagination*/
.pager li a:hover{ 
    background: #1098EB;
    color:#fff; 
} 

/* Footer */

.copyright {
    text-align: center;
    padding-top: 1em;
    margin: 0;
    border-top: 1px solid #eee;
    color: #666;
}



/* 
5.0 Archive Page 
*/
.article-archive {
    display: block;
    margin-left: 30%;
    font-size: 17px;
    padding: 2px;
}

.article-archive a:hover{
    color: #42b983;
}

/**
 * 6.0 - Contact Page
 */

.social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.social li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
}

.social li a {
    border: 1px solid #888;
    font-size: 22px;
    color: #888;
    transition: all 0.3s ease-in;
}

.social li a:hover {
    background-color: #333;
    color: #fff;
}

.facebook a {
    padding: 12px 21px;
}

.twitter a {
    padding: 12px 15px;
}

.google-plus a {
    padding: 12px 15px;
}

.tumblr a {
    padding: 12px 20px;
}



/**
 * 7.0 - Comment
 */
.comment-area {
    padding: 0 30px 0;
}

.comment-form {
    margin-top: 15px;
}

.comment-form .comment-btn {
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 16px;
    padding: 5px 10px;
}

.comment-list-panel {
    margin-top: 30px;
}

.comment-list {
    margin-top: 15px;
}

.comment-item:not(:last-child) {
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.comment-item .nickname,
.comment-item .submit-date {
    color: #777;
    font-size: 14px;
}

.comment-item .nickname:after {
    content: ' ·';
}

.comment-item .text {
    
    padding-top: 5px;
    font-size: 16px;
}
