{% extends 'base.html' %}

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
    
    {% for article in article_list %}
        <article class="article article-{{ article.pk }}">
                <span class="article-date-archive"><time class="entry-date"
                    datetime="{{ article.created_at|date:'M,d Y' }}">{{ article.created_at|date:'M,d Y' }}:</time></span>
                    <a href="{{ article.get_absolute_url }}" class="article-title-link">{{ article.title }}</a>

        </article>
    {% empty %}
        <div class="no-article">暂时还没有发布的文章！</div>
    {% endfor %}
         
  
{% endblock main %}