{% extends 'base.html' %}

{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
    
    {% for article in article_list %}
        <h1 class="article-title">
            <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
        </h1>
        <div class="article-meta">
            <span class="article-date" href="#"><time class="entry-date"
                datetime="{{ article.created_at|date:'M d,Y' }}">
                {{ article.created_at|date:'M d,Y' }}</time>
            </span>
            <!-- <span class="comments-link">
                <a href="{{ article.get_absolute_url }}#comment-area">{{ article.comment_set.count }} 评论</a></span>
            <span class="views-count"><a href="{{ article.get_absolute_url }}">{{ article.views }} 阅读</a></span> -->
        </div>
    <!-- </p> -->
                <!-- <p>{{ article.digest }}...</p> -->
            <!-- <div class="read-more cl-effect-14"> -->
        <div class="article-digest clearfix">
            {% if article.digest_img %}
                <img alt="cute" src={{article.digest_img}}>
            {% endif %}
            <div class="digest-body">
                <a href="{{ article.get_absolute_url }}" class="more-link">
                    {{ article.digest }}</a>
                <!-- <div type="button" class="digest-more">more...</div> -->
            </div>
        </div>
        </br>
        <hr/>
    {% empty %}
        <div class="no-article">暂时还没有发布的文章！</div>
    {% endfor %}
         
    
    {% if is_paginated %}
        <nav aria-label="pagination">
            <ul class="pager">
                {% if page_obj.has_previous %}
                    <li class="previous"><a href="?page={{ page_obj.previous_page_number }}">
                        <span aria-hidden="true">&larr;</span>Previous Page</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                    <li class="next"><a href="?page={{ page_obj.next_page_number }}">
                        <span aria-hidden="true">&rarr;</span>Next Page</a></li>
                {% endif %}
            </ul>
        </nav>

 
    {% endif %}

{% endblock main %}