{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="{%static 'favicon.ico'  %}" />

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/default.css' %}">
    <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- js -->
    <script src="{% static 'blog/js/pace.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/pace/1.0.2/pace.min.js"></script>
    <script src="{% static 'blog/js/modernizr.custom.js' %}"></script>
    <script src="{% static 'blog/js/my_function.js' %}"></script>
</head>


<body>
<header id="site-header">
    <div class="row">
        <div class=".col-xs-12 .col-md-4">
            <nav class="main-nav" role="navigation">
                    <ul class="nav navbar-nav" >
                        <li class="cl-effect-11"><a href="{% url 'blog:index' %}" data-hover="首页">首页</a></li>
                        <li class="cl-effect-11"><a href="{% url 'blog:archives' %}" data-hover="归档">归档</a></li>
                        <li class="cl-effect-11"><a href="#" data-hover="关于">关于</a></li>
                        <li class="cl-effect-11"><a href="{% url 'rss' %}" data-hover="RSS">RSS</a></li>
                    </ul>
            </nav>

            <form class="searchform" action="{% url 'haystack_search' %}">
                <input type="text" name='q' placeholder="搜索..." required>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</header>

<div class="content-body">
        <div class="row">
            <main class="col-md-12">
                {% block main %}
                {% endblock main %}
            </main>
        </div>
    <!-- 回到顶部 -->
    <a id="back-to-top" href="#"><span>⬆︎</span> </a>
    
</div> 

<script src="{% static 'blog/js/script.js' %}"></script>

</body>
</html>